body {
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  position: relative;
  overflow: hidden;
  background-image: url('../assets/FIZZ_background_large.webp'); /* Replace with actual path */
  background-size: cover;
  background-position: center;
}

.home-container {
  text-align: center;
  padding: 20px;
}

.home-header {
  text-align: center;
  margin-bottom: 40px;
}

.home-logo {
  font-size: 4rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: -25px;
}

.home-tagline {
  font-size: 1.2rem;
  color: white;
  margin-top: -10px;
}

.cta-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.cta-btn {
  width: 300px;
  padding: 15px;
  border: 2px solid #fff;
  border-radius: 25px;
  background: transparent;
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
  margin-top: -10px;
}

.signup-btn, .login-btn {
  border-color: #4a4a4a;
  color: #fff;
}

.signup-btn:hover, .login-btn:hover {
  background: #e3104f;
  color: #fff;

}

.cta-label{
  margin-bottom: 0px;
  font-size: 0.8rem;
  color: #e3104f;
}