
h3 {
font-family: Arial, Helvetica, sans-serif;
color: white;
}

div {
  background-color: black;
  padding: 0px;
  margin: 0px;
  border: none; /* Remove any border */
  border-width: 0; /* Ensure border width is 0 */
  border-style: none; /* Ensure border style is none */
  border-color: transparent; /* Ensure border color is transparent */
  
}


h5{ 
  color: white;
}

input{ 
  color: blue;
}

label {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}



.sv_body.sv_body--static {
  background-color: black !important; /* Dark background */
  color: rgb(56, 56, 56);
  padding: 0px;
  border-radius: 10px;
  border-top: black;
}

.sv_progress_bar {
  background-color: #ff4081 !important; /* Pink progress bar */
  height: 1px;
  border-radius: 2px;
  transition: width 0.3s ease-in-out;
}

.sv_nav_btn.sv_next_btn {
  background-color: #ff4081 !important; /* Pink button */
  color: white !important;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.sv_nav_btn.sv_next_btn:hover {
  background-color: #e5005a !important; /* Darker pink on hover */
}

.sv_nav_btn.sv_prev_btn {
  background-color: #ff4081 !important; /* Pink button */
  color: white !important;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.sv_nav_btn.sv_prev_btn:hover {
  background-color: #e5005a !important; /* Darker pink on hover */
}

.sv_nav_btn.sv_complete_btn {
  background-color: #ff4081 !important; /* Pink button */
  color: white !important;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.sv_nav_btn.sv_complete_btn:hover {
  background-color: #e5005a !important; /* Darker pink on hover */

}

.sv_body.sv_completed_page {
  background-color: black !important; /* Dark background */
  color: white !important;
  text-align: center;
  padding: 30px;
  border-radius: 12px;
}

.sv_body.sv_completed_page {
  /* Your styles here */
  color: black;
  border-top: black;
}